.App{
  width: 100vw;
  height:100vh;
  margin: 0;
  background-image: url(header-bg.jpg);
  background-position: center;

  
}

.nav {
  
  /* text-align: right; */
  height: 70px;
  line-height: 70px;
  background-color: black;
 

}

.nav h1 {
  
  float:left;
  margin-top: 0;
  margin-left: 150px;
  color:yellow;
}

.menu {
    margin: 0 70px 0 0;
    
    float: right;
    
    
    
}

.menu a {
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 60px;
  color: white;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float:right;
}

#toggle {
  display: none;
}

@media (max-width: 900px) {
  label {
    display:block;
    cursor: pointer;
    color: yellow;
  }

  .menu{
    
    text-align: center;
    width: 80%;
    display:none;
  
    
    
  }

  .menu h1{
    width: 30vw;
   
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    background-color: black;

    
   
  }
  #toggle:checked + .menu  {
    display: block;
   
   
  }
}